@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles List</h1>


@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="Create" asp-controller="Roles">
        New Role
    </a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="Delete" asp-route-id="@role.Id">
                <a asp-controller="Roles" asp-action="RoleEdit"
                   asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Delete @role.Name rol?')">
                    Delete
                </button>
                </form>
            </div>
        </div>
    }
}else
{
    <div class="card">
        <div class="card-header">
            Nothing yet...
        </div>
        <div class="card-body">
            <h5 class="card-title">Press the button to create a new role</h5>
            <a class="btn btn-primary" style="width:auto" asp-action="Create" asp-controller="Roles">New Role</a>
        </div>
    </div>
}